/* GENERAL */
body {
  font-family: 'Roboto', sans-serif;
}

/* UTILITIES */
h1,
h2,
h3,
h4,
h5 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  color: #031c4e;
}

p {
  line-height: 20px;
  font-size: 14px;
  margin-bottom: 10px;
}

a {
  color: #031c4e;
}

.btn {
  width: 100%;
  padding: 12px 18px;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
}

.btn-primary {
  background: #2485fd;
}

.btn-shadow {
  border: 0;
  box-shadow: 5px 5px 5px rgb(240, 240, 240);
}

.box-grey {
  background-color: #f3f5f9;
}

/* HEADER */
.header-overall .navbar {
  background-color: #fff;
  margin-bottom: 0;
  padding: 10px 0;
  border-radius: 0;
  border: none;
  vertical-align: middle;
}

.header-overall .navbar li a {
  color: #006aff;
}

.header-overall .navbar-brand  img {
  height: 100%;
}

.header-overall .navbar-btn {
  margin: 0;
  color: #2285fd;
  border-color: #2285fd;
}

.navbar-default .navbar-toggle .icon-bar {
  background: #2485fd;
}

.header-overall .navbar-default .navbar-toggle {
    border: none;
}

/* MEDIA HEADER */

@media screen and (min-width: 768px) and (max-width: 991px) {
    /* Mostra hamburger */
    .navbar-toggle {
        display: block;
        position: absolute;
        right: 0;
    }
    /* Nascondi contenitore menu */
    .navbar-collapse {
        display: none;
    }
}

.header-hero {
  background-image: url('../assets/bg-banner-home.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

/* .header-hero .jumbotron{
  background-color: transparent;
} */

.header-hero h1,
.header-hero p {
  color: #fff;
}

.header-hero  h1 {
  font-size: 36px;
  padding: 20px 0;
  line-height: 40px;
  margin-top: 40px;
}

.header-hero  p {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #bbcdff;
}

/* ACCOUNT */
.register-account {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.register-account h3 {
  color: #006aff;
}

.register-account .form-group input {
  width: 100%;
}

.register-account .form-group  .logo-g{
  background-image: url('../assets/google-icon.png');
  background-repeat: no-repeat;
  background-position: left;
  background-size: 5%;
  padding-left: 5px;
  color: #626262;
}

.register-account .form-horizontal p {
  color: #031c4e;
  font-size: 12px;
}

/* MEDIA HERO */
@media screen and (min-width: 991px) {
  .header-hero  h1 {
    font-size: 54px;
    margin-top: 55px;
    line-height: 50px;
  }

  .header-hero  p {
    font-size: 30px;
    line-height: 32px;
  }

  .register-account {
    margin-top: 40px;
  }
}

/* MAIN */
/* MAIN TOP */
.main-top h5 {
  text-transform: uppercase;
  color: #7c879f;
}

.main-top .logo-list {
  padding: 0;
}

.main-top .logo-list li {
  width: calc((100% / 2) - 12px);
  margin: 0 auto;
  vertical-align: middle;
}

.main-top .logo-list li img {
  max-width: 100%;
}

@media screen and (min-width: 991px) {
  .main-top .logo-list li {
    width: calc((100% / 6) - 12px);
    margin: 0 auto;
    vertical-align: middle;
  }

}

/* FOOTER */
