/* GENERAL */
body {
  font-family: 'Roboto', sans-serif;
}

/* UTILITIES */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  color: #031c4e;
}

p {
  line-height: 20px;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #7c879f;
}

a {
  color: #006aff;
}

.btn {
  width: 100%;
  padding: 12px 18px;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
}

.btn-primary {
  background: #2485fd;
}

.btn-shadow {
  border: 0;
  box-shadow: 5px 5px 5px rgb(240, 240, 240);
}

.box-grey {
  background-color: #f3f5f9;
}

.mg-top {
  margin-top: 50px;
}

.mg-b-50 {
  margin-bottom: 50px;
}

.padding-0 {
  padding: 0;
}

/* SLIDER UTILITY */
.slide i {
  font-size: 24px;
  font-weight: bold;
  padding: 5px;
  margin: 0 5px;
}

.sliders-icon i {
  padding: 0 5px;
  color: #006aff;
}

.slide i.fa-chevron-left {
  color: #6f7b97;
}

/* HEADER */
.header-overall .navbar {
  background-color: #fff;
  margin-bottom: 0;
  padding: 10px 0;
  border-radius: 0;
  border: none;
  vertical-align: middle;
}

.header-overall .navbar li a {
  color: #031c4e;
}

.header-overall .navbar-brand  img {
  height: 100%;
}

.header-overall .navbar-btn {
  margin: 0;
  color: #2285fd;
  border-color: #2285fd;
}

.navbar-default .navbar-toggle .icon-bar {
  background: #2485fd;
}

.header-overall .navbar-default .navbar-toggle {
    border: none;
}

/* MEDIA HEADER */

@media screen and (min-width: 768px) and (max-width: 991px) {
    /* Mostra hamburger */
    .navbar-toggle {
        display: block;
        position: absolute;
        right: 0;
    }
    /* Nascondi contenitore menu */
    .navbar-collapse {
        display: none;
    }
}

.header-hero {
  background-image: url('../assets/bg-banner-home.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.header-hero  h1 {
  font-size: 36px;
  padding: 20px 0;
  line-height: 40px;
  margin-top: 40px;
  color: #fff;
}

.header-hero  p {
  font-size: 21px;
  line-height: 26px;
  color: #bbcdff;
}

/* ACCOUNT */
.register-account {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.register-account h3 {
  color: #006aff;
}

.register-account .form-group input {
  width: 100%;
}

.register-account .form-group  .logo-g{
  background-image: url('../assets/google-icon.png');
  background-repeat: no-repeat;
  background-position: left;
  background-size: 5%;
  padding-left: 5px;
  color: #626262;
}

.register-account .form-horizontal p {
  color: #031c4e;
  font-size: 12px;
}

/* MEDIA HERO */
@media screen and (min-width: 991px) {
  .header-hero  h1 {
    font-size: 54px;
    margin-top: 55px;
    line-height: 50px;
  }

  .header-hero  p {
    font-size: 30px;
    line-height: 32px;
  }

  .register-account {
    margin-top: 40px;
  }
}

/* MAIN */
/* MAIN TOP */
.main-top h5 {
  text-transform: uppercase;
  color: #7c879f;
}

.main-top .logo-list li {
  width: calc((100% / 2) - 12px);
  margin: 0 auto;
  vertical-align: middle;
}

.main-top .logo-list li img {
  max-width: 100%;
}

/* MEDIA MAIN TOP */
@media screen and (min-width: 768px) {
  .main-top .logo-list li {
    width: calc((100% / 6) - 12px);
    margin: 0 auto;
    vertical-align: middle;
  }
}

/*  MAIN DEPLOY */
.main-deploy {
  margin: 0 auto;
}
.main-deploy  h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

.main-deploy p {
  line-height: 25px;
  font-size: 16px;
}

.main-deploy .vertical-menu li {
  display: block;
  padding: 8px 5px;
  text-decoration: none;
  text-align: left;
  font-size: 16px;
  border-left: 1px solid;
  color: #75809a;
}

.main-deploy h3 {
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.main-deploy .p-deploy p{
  font-size: 16px;
  font-weight: lighter;
}

/* MAIN DESIGNED */
.main-designed .slide {
  padding: 30px;
}

.main-designed .slide img {
  display: inline-block;
  height: 262px;
  max-width: 100%;
  margin: 0 auto;
}

.main-designed .slide h5 {
  font-size: 12px;
  margin-bottom: 5px;
}


/* MAIN FEATURES */
.main-features h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.main-features p {
  font-size: 14px;
  font-weight: normal;
}

.main-features img{
  margin-top: 20px;
}

/* MAIN SERVICE */
.main-service {
  background: linear-gradient(#0047c5, #00209b);
}

.main-service h2,
.main-service span {
  color: #fff;
}

.main-service p {
  color: #bbc7e8;
}

.main-service .six-regions-left,
.main-service .six-regions-right {
  margin-top: 20px;
  margin-bottom: 20px;
}

.main-service .row {
  border-bottom: 1px solid #fff;
}

.six-regions-left .row:last-child,
.six-regions-right .row:last-child {
  border-bottom: transparent;
}

/* MAIN DEVELOPMENT */
.rockerbox {
  display: inline-block;
  width: 510px;
  height: 285px;
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
  margin: 0 auto;
  padding: 8px;
  border-radius: 5px;
  background: #fff;
}

.rockerbox img {
  display: inline-block;
  text-align: center;
  padding: 20px;
}

.rockerbox p {
  font-size: 16px;
  margin-bottom: 0;
  padding: 10px 0;
}

.rockerbox h5 {
  margin: 0;
  padding: 5px 0;
}

.rockerbox h6 {
  margin-top: 0;
  margin-bottom: 25px;
}

.box-rockerbox .rockerbox a {
  margin-bottom: 30px;
}

/* .slider-icon-dev {
  content: '';
  color: red;
  width: 30px;
  height: 30px;
  background-color: black;
  border: 1px solid;
  border-radius: 50%;
} */

/* GET NOW */
.get-now {
  background: linear-gradient(#0047c5, #00209b);
}

.get-now h2 {
  color: #fff;
}

.get-now .btn {
  width: auto;
  padding: 10px 24px;
}

.get-now .btn-default {
  color: #006aff;
}

/* FOOTER */
.main-footer {
  background: #031c4e;
}

.copy-section p {
  padding-top: 5px;
  margin-bottom: 0;
}

.copy-section .copy-made{
  font-weight: normal;
  padding-top: 0;
  padding-bottom: 10px;
}
.copy-section li a {
  color: #7a859d;
}
.footer-list {
  padding-left: 0;
  padding-top: 10px;
}
.footer-list li {
  display: block;
  padding: 5px 0;
}

.main-footer .footer-list li a {
  color: #a6adbd;
}

.main-footer .footer-list li:first-child a{
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
  color: #fff;
}
